module.exports = this;

this.settings = {
       ircNetwork: 'irc.freenode.net'
       , ircChannel: '#Node.js'
       , ircBotNick: 'MrWarGames'
       , ircUserName: 'MrWarGames'
       , ircRealName: 'MrWarGames'
       , ircPort: 6998
       , cachePath: '/tmp/cache.json'
});

module.exports = this;
